@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@700&family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
  @apply bg-white/5 backdrop-blur-md border border-white/10;
}

.gold-gradient {
  background: linear-gradient(135deg, #B45309 0%, #78350F 100%);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}